.home {
	margin-top: 60px;
}

.home article:nth-child(1) {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	font-family: 'Lexend', sans-serif;
	text-align: center;

	background-color: #f5f5f5;

	height: 100vh;

	h1 {
		font-size: 5rem;
		font-weight: 700;
		color: $azulOscuro;

		max-width: 768px;
	}

	.rocketIcon {
		color: $azul;
	}

	h2 {
		font-size: 3rem;
		font-weight: 500;
		color: $azulOscuro;

		max-width: 768px;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 2rem;

		width: 200px;
		height: 50px;

		background-color: $azul;
		color: $blanco;
		font-size: 1.5rem;

		border-radius: 5px;

		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.1);
			transition: all 0.5s ease;
		}
	}
}

.home article:nth-child(2) {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	font-family: 'Lexend', sans-serif;
	text-align: center;

	background-color: #f5f5f5;

	padding-bottom: 10rem;

	h2 {
		font-size: 4rem;
		font-weight: 700;
		color: $azulOscuro;

		margin-bottom: 10rem;
	}

	.cardsContainer {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}

	.divisor {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 5rem;

		height: auto;
	}

	.card {
		margin: 1rem 2rem;
		padding: 0 2rem;

		height: 230px;
		max-width: 300px;

		border-radius: 1rem;
		background-color: $blanco;

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		h3 {
			font-size: 2.5rem;
			font-weight: 500;
			color: $azulOscuro;
		}

		span {
			font-size: 1.5rem;
			font-weight: 500;
			color: $azulOscuro;
		}
	}
}

.home article:nth-child(3) {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	font-family: 'Lexend', sans-serif;
	text-align: center;

	background-color: #f5f5f5;

	padding-bottom: 10rem;

	h2 {
		font-size: 4rem;
		font-weight: 700;
		color: $azulOscuro;
	}

	span {
		font-size: 2rem;
		font-weight: 500;
		color: $azulOscuro;

		max-width: 768px;
		margin: 2rem 0;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 3rem;

		width: 230px;
		height: 50px;

		background-color: $azul;
		color: $blanco;
		font-size: 1.5rem;

		border-radius: 5px;

		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.1);
			transition: all 0.5s ease;
		}
	}
}

@media (max-width: 1020px) {
	.home article:nth-child(2) {
		.cardsContainer {
			flex-flow: row wrap;
		}

		.divisor {
			flex-direction: column;

			margin-bottom: 0;
		}
	}
}

@media (max-width: 768px) {
	.home article:nth-child(1) {
		height: auto;

		padding-bottom: 10rem;
	}
}
