.takeCourseContainer {
	margin-top: 60px;

	min-height: 100vh;

	font-family: 'Lexend', sans-serif;
	color: $grisOscuro;
	background: $grisFondo;

	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 4rem;
		font-weight: 700;

		color: $azul;
		text-align: center;
	}

	h2 {
		font-size: 3rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.7rem;
		font-weight: 700;
	}

	span {
		font-size: 1.3rem;
	}
}

@media (max-width: 768px) {
	.takeCourseContainer {
		text-align: center;
	}

	.materialContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		iframe {
			width: 90%;
		}
	}
}
